## Section 1.0: Installing the necessary libraries

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

### Section 1.1.1: Loading the datasets

In [8]:
eid_vl_dataset = pd.read_csv('dataset/EID-VL-dataset.csv')

### Section 1.1.2: Viewing the dataset

In [10]:
eid_vl_dataset

,pseudonymous_id,facility_id,sex,dob,initiation_date,datecollected,datereceived,datedispatched,lab_id
0,b32bd2a98e526373197f1725093d83d8,1463,2,1997-01-12,2004-12-09,2022-10-06,2022-10-07,2022-10-28,6
1,b39c3247661d069195f888641ecc76f7,3142,3,1980-03-03,2019-10-03,2021-06-14,2021-08-13,2022-02-02,5
2,b39c3247661d069195f888641ecc76f7,3142,3,1980-03-03,2019-10-03,2021-06-14,2021-08-13,2022-08-01,10
3,ec71bb536d907ebe241a80bd002186c0,3130,3,1984-06-15,2011-06-09,2021-06-17,2021-08-10,2022-01-28,5
4,ec71bb536d907ebe241a80bd002186c0,3130,3,1984-06-15,2011-06-09,2021-06-17,2021-08-10,2022-08-01,10
...,...,...,...,...,...,...,...,...,...
995,d4b52f2e40dd213c4c7d8e04ed19ff03,4899,2,1965-01-01,2004-06-01,2022-04-26,2022-04-28,2022-05-16,5
996,ef5302343022ae6a8696b5c0beed75b1,5798,1,2002-01-01,2009-06-01,2021-05-28,2021-06-02,2022-01-03,5
997,ef5302343022ae6a8696b5c0beed75b1,5798,1,2002-01-01,2009-06-01,2022-05-04,2022-05-04,2022-05-14,5
998,ef5302343022ae6a8696b5c0beed75b1,5798,1,2002-01-01,2009-06-01,2022-12-17,2022-12-20,2022-12-23,5
999,ef5302343022ae6a8696b5c0beed75b1,5798,1,2002-01-01,2009-06-01,2022-12-17,2022-12-20,2022-12-23,5

### Section 1.1.3: Viewing the eid-vl dataset columns

In [11]:
eid_vl_dataset.columns

Index(['pseudonymous_id', 'facility_id', 'sex', 'dob', 'initiation_date',
       'datecollected', 'datereceived', 'datedispatched', 'lab_id'],
      dtype='object')

### Section 1.1.4: Data cleansing